*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body{
    display: flex;
}

nav{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-items:center;
    justify-content: space-between ;
    position: fixed;
    z-index: 20;
    backdrop-filter: blur(10px);
}

.navBurger{
    visibility: hidden;
    display: none;
}

.navBurger span{
    visibility: hidden;
}

nav img{
    width: 2vw;
    padding-left:40px;
    object-fit: contain;
}

.navCon{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 40px;
    backdrop-filter: blur(10px);
}

.navCon .links{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2vw;
    transition: 0.5s;
}

.navCon .links:hover{
    color: blue;
    transition: 0.5s
}

.navCon .links:active{
    color: ghostwhite;
}

.subtitle{
    padding: 2vw 0 2vw 0;
    font-size: 1.5vw;
    color: white;
}

section{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items:center ;
    flex-direction: column;
    background: linear-gradient(45deg, hsla(240, 56%, 5%, 1) 44%, hsla(221, 82%, 13%, 1) 100%);
}

.addSwitchBtn{
    margin-top: 5vw;
    align-self: self-start;
    margin-left: 5vw;
    padding: 0.8vw 1vw;
    background-color: blue ;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

.switchCon{
    padding: 1vw;
    margin-top: 5vw;
    width: 90%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.164);
    display: flex; 
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(9, 13, 32, 0.877);
}

table{
    width: 90%;
    height: 100%;
    text-align: center;
    overflow: scroll;
}

table ,tr {
    height: 2vw;
}

.modals{
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    background: linear-gradient(45deg, rgba(6, 6, 20, 0.884) 44%, rgba(6, 23, 60, 0.815) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.visibles{
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modals form{
    width: 40%;
    height: 60%;
    background-color: rgb(2, 2, 44);
    box-shadow: 0 0 10px rgb(14, 48, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    border-radius: 5px;
    font-size: 1vw;
    position: relative;
    color: white;
}

.modals form input{
    width: 60%;
    height: 2.5vw;
    padding: 0 0 0 1vw;
    border-radius: 5px;
    border: solid 1px gray;
}

.modals > form > div{
    width: 60%;
    height: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3vw;
    padding: 1vw;
}

.modals > form > div > select {
    height: 2vw;
    background-color: white;
    border: 1px solid black;
    width: 30%;
    padding: 0.5vw 1vw;
    border-radius: 5px;
}

.closeBtn{
    font-size: 1.8vw;
    border: none;
    background-color: transparent;
    color: red;
    position: absolute;
    top: 1vw;
    right: 2vw;
    cursor: pointer;
    text-decoration: none;
}


/*-----------mobile--------------*/
@media only screen and (max-width:600px) {

    nav{
        display: flex;
        flex-direction: row;
        height: 14vw;  
        width: 100%;
        align-items:center;
        justify-content: space-between ;
        position: fixed;
        z-index: 20;
    }
    
    nav img{
        width: 2vw;
        padding-left:40px;
        object-fit: contain;
    }
    
    .responsive{
        visibility: visible;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;  
        padding: 10vw 0 10vw 0;
        top: 15vw;
        height: 60vw ;  
        width: 100%; 
        border-radius: 10px;
        background-color: rgb(2, 2, 44);
        box-shadow: 0 0 10px rgb(14, 48, 121);
    }
    
    .navCon{
        position: fixed;
        top: -10vw;
        visibility: hidden;
        backdrop-filter: blur(10px);  
    }
    
    .responsive .links{
        text-decoration: none;
        color: white;
        font-size: 3.2vw;
        transition: 0;
    }
    
    .responsive .links:hover{
        color: blue;
        transition: 0;
    }
    
    .responsive .links:active{
        color: ghostwhite;
    }
    .loginBtn{
        background-color: blue;
        border: 1px solid blue;
        padding: 10px 20px;
        border-radius:5px;
        color: white;
        text-decoration: none;
        font-weight: normal ;
        transition: 0;
        font-size: 3.2vw;
     }
    
     .loginBtn:hover{
        background-color: white;
        border-radius:5px;
        color: black;
        border: 1px solid black;
        transition: 0;
     }
    
    .navBurger{
        position: absolute;
        top: 2vw;
        right : 2vw;
        display: flex;
        visibility: visible;
        height: 10vw;
        width: 10vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .navBurger > div{
        height: 1px;
        width: 20px;
        background-color: white;
    }

    .addSwitchBtn{
        margin-top: 20vw;
        align-self: self-start;
        margin-left: 5vw;
        padding: 0.8vw 1vw;
        background-color: blue ;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
    }
    .switchCon{
        margin-top: 20vw;
    }
}       